#container,
.insta-outer,
.insta-inner,
.inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.insta-outer {
  height: 250px;
  width: 250px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 50px;
}
.insta-inner {
  height: 200px;
  width: 200px;
  border-radius: 50px;
  border: 10px solid white;
}
.inner-circle {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid white;
}
.small-circle {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 10px solid white;
  left: 6.9rem;
  top: -1.9rem;
}
