* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: yellow;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 3em;
  /* width: 30%; */
  justify-content: space-around;
}
.nav-links li {
  list-style-type: none;
}
.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
}
.cat {
  cursor: pointer;
  display: none;
}
.cat div {
  background-color: black;
  width: 25px;
  height: 5px;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

/*change max width to 768px*/
body {
  overflow: hidden;
}
.nav-links {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.nav-links li {
  opacity: 0;
}
.cat {
  display: block;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 10px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
a {
  text-decoration: none;
  color: black;
}
:is(#welcome-in, #project, #hackers, #teach) {
  font-family: poppins;
  font-size: 2rem;
  color: whitesmoke;
}
#schedule {
  font-family: poppins;
  font-size: 3rem;
  color: whitesmoke;
}
:is(#schedule, #project, #hackers, #teach) {
  position: relative;
  top: 1rem;
}

#hackers,
#project,
#teach {
  background-color: black;
  padding: 0.5rem;
  width: fit-content;
}
#first {
  font-size: 8vh;
  background-color: black;
  position: relative;
  top: 7rem;
  left: 0.5rem;
  letter-spacing: 10px;
}
#map {
  height: 50vh;
}
#map-con {
  margin-top: 2rem;
}
#arm1 {
  color: red;
}
#arm2 {
  color: blue;
}
#arm3 {
  color: yellow;
}
#iran1 {
  color: lightgreen;
}
#iran2 {
  color: white;
}
#iran3 {
  color: red;
}
#leb1 {
  color: red;
}
#leb2 {
  color: white;
}
#leb3 {
  color: lightgreen;
}
#leb4 {
  color: red;
}
#ind1 {
  color: orange;
}
#ind2 {
  color: white;
}
#ind3 {
  color: lightgreen;
}
#awe {
  color: yellow;
}
#schedule {
  margin: 1rem;
}
#hackers-bg {
  width: 68vw;
  height: 80vh;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h3 {
  margin-left: 1rem;
  font-family: poppins;
  font-size: 2rem;
  color: whitesmoke;
}
